/* CUSTOMIZATIONS */
#bit-events { 
  font-family:$body-font-family ;
  font-size: 1em;
  padding:0 5%;
  @include breakpoint(small only){
    padding:0;
  }
}
#bit-events  a { 
  font-family:$body-font-family !important; 
  color:$primary-color !important; 
  // font-weight: bold !important;
  font-size:1em !important;
}
#bit-events td .bit-uiButton { 
  font-family:body-font-family  !important; 
  height: 21px !important; 
}
#bit-events tr {
  background-color:rgba(0,0,0,.8);
  color:#fff;
}
