// Page header
// Home Page

#fire_title_container {
  padding-top: 7vw;
  position: absolute;
  top: 50%;
  &.sticky{
    position: fixed;
    bottom: 0;
    top:initial;
    z-index: 9999;
    @include breakpoint(medium up){
      top: -7vw;
      height:30%;
    }
    .desktop-navigation {
      position: relative;
      top: -9px;
      bottom:initial;
    }
  }
}
#fire_title,
#fire_title_canvas {
  position: relative;
  width:100vw;
  height:auto;
  z-index: 100;
}
#fire_ornaments {
  position: absolute;
  z-index: 99;
  top:0;
}