// The Musician Theme Custom Styles


#masthead {
  z-index: 999;
  position:absolute;
  width: 100%;
  bottom:0;
  @include breakpoint(medium down){
  	display:none;
  }
}
#site-navigation {
	text-align:center;
}
.desktop-navigation {
	font-family:$header-font-family;
    position: absolute;
    bottom: -53px;
    width: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,0.8);
    height: 60px;
    @include breakpoint(small only){
    	display: none;
    }
}
.title-bar {
	position:fixed;
	width:100%;
	height:8%;
	top:0;
	z-index: 99999;
}
#mobile-navigation{
	position:fixed;
	top:8%;
	width:100%;
	height:100%;
	z-index: 9999;
	background-color:rgba(0,0,0,.97);
	@include breakpoint(medium up){
	  	display:none;
	  }
}
.mobile-transition-in {
	@include mui-slide(
	  $state: in,
	  $direction: right,
	  $duration: 0.2s,
	  $timing: easeOut
	);
}
.mobile-transition-out {
	@include mui-slide(
	  $state: out,
	  $direction: left,
	  $duration: 0.2s,
	  $timing: easeIn
	);
}
.top-bar-menu {
	position:relative;
	display:inline-block;
	.menu {
		li{
			height: 60px;
			a {
				font-size: 1.2em;
				line-height: 1.2em;
				padding: 18px 40px !important;
				text-transform: uppercase;
			}
		}
	}
}

section.page-content {
	height: 640px;
	@include breakpoint(medium){
	  height:768px;
	}
	@include breakpoint(large up){
	  height:800px;
	}	
	padding-top:20%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#262626+0,000000+50,333333+100 */
	background: rgb(38,38,38); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(38,38,38,1) 0%, rgba(0,0,0,1) 50%, rgba(51,51,51,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(38,38,38,1) 0%,rgba(0,0,0,1) 50%,rgba(51,51,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(38,38,38,1) 0%,rgba(0,0,0,1) 50%,rgba(51,51,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	margin: 0;
	h2 {
		text-align: center;
	}
	.orbit-container {
		height: 50% !important;
	}
	&#videos {
		padding-top:10%;
	}
}


.section-title {
	font-family:$header-font-family;
	font-size:30px;
	text-align:center;
	padding:1em;
}