#featured-hero {
  position:relative;
  height: 640px;
  @include breakpoint(medium){
    height:768px;
  }
  @include breakpoint(large up){
    height:800px;
  }
  overflow: hidden;
  width: 100%;
  background:#000;
  opacity: 0;
  .feature-img {
    position:absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    transform-origin: top center;
    &.scale-in {
      @include animation(scale-in,13s,0s);
    }
  }
}
@include keyframes(scale-in){
  from {
    transform: scale(1.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity:1;
  }
}